{% extends 'base.html' %}

{% block content %}
<h2>Leaderboard for {{ quiz.title }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Date Achieved</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in leaderboard %}
        <tr>
            <td>{{ entry.user.username }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.date_achieved }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
