{% extends 'base.html' %}

{% block content %}
<h2>Start Quiz: {{ quiz.title }}</h2>
<p>Good luck!</p>
<form method="post" action="{% url 'submit_answers' attempt.id %}">
    {% csrf_token %}
    {% for question in quiz.question_set.all %}
        <h5>{{ question.text }}</h5>
        {% for choice in question.choice_set.all %}
            <div>
                <input type="radio" name="answers[{{ question.id }}]" value="{{ choice.id }}"> {{ choice.text }}
            </div>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Submit Answers</button>
</form>
{% endblock %}
